.thai {
	font-size:1.5rem;
}
.english {
	font-size:1rem;
}
sentence {
	display:block;
	border-bottom: 1px solid gray;
}
word[break] {
	border-left: 1px solid gray;
}
word {
	margin-right: .5rem;
}
sylcont {
	position:relative;
	margin-right: .5rem;
}
sylspc {
	opacity:0.0;
}
syllable {
	position:absolute;
}
syllable[hint=M] {
	color:blue;
}
syllable[hint=H] {
	transform: translate(0,-.5rem);
	color:blue;
}
syllable[hint=M] {
	color:green;
}
syllable[hint=L] {
	transform: translate(0,.5rem);
	color:brown;
}
syllable[hint=R] {
	transform: rotate(-30deg);
	color:red;
}
syllable[hint=F] {
	transform: rotate(30deg);
	color:orange;
}
button[a] {
	margin-right:.3rem;
}
