#content {
	margin:1rem;
	text-align:center;
}
#analytics fieldset, #analytics button {
	margin:1rem;
}

table {
	border-spacing:.3em;
}

#keypad {
	position:relative;
	display:inline-block;
}
#keypad td.key {
	border:1px solid #ccc;
	text-align:center;
	cursor:pointer;
	white-space:nowrap;
	width:3rem;
}
#keypad td.key div.translit {
	text-align:left;
	padding-left:2px;
	margin-top:-.5em;
}
#keypad #td_dipthong {
	border:0px;
	margin:0px;
	padding:1.45em 0px;
}

#keypad #table_dipthong {
	margin:0px;
	padding:0px;
}
#keypad td.noborder,
#keypad tr.noborder,
#keypad table.sub {
	border:0px;
	margin:0px;
	padding:0px;
}
#keypad table.sub {
	width:100%;
}
#keypad td.spacer {
	border:0px;
	margin:0px;
	padding:0px;
	height:1.45em 0px;
}
#keypad td.rowhdr {
	border-top:1px solid navy;
	border-left:1px solid navy;
	border-bottom:1px solid navy;
}
#keypad td.hdr:not(.rowhdr):not(.pool) {
	border-top:1px solid navy;
	border-left:1px solid navy;
	border-right:1px solid navy;
}

fieldset {
	float:left;
}
fieldset label {
	display:block;
}

#keypad .typingwindow {
	width:100%;
	height:3rem;
	padding:0px .2rem;
	margin:.5rem 0;
}
#keypad .devanagari {
	font-size: 1.5em;
}
#keypad input[type=textarea].translit {
	font-size: 1em;
}

#keypad .hog {
	width:100%;
}
#keypad #clear {
	margin:0px 10px;
}
#keypad td.hdr {
	font-size:.8em;
	color: blue;
	cursor: pointer;
	text-decoration: underline;
	text-align:center;
}
#keypad .red {
	background-color:pink;
}
#keypad_settings {
	position:absolute;
	right:0px;
	top:0px;
	background-color:white;
}

#analyticscontainer {
	text-align:center;
}
table#analytics  {
	margin:auto;
}
table#analytics  table {
	width:100%;
}
table#analytics td, table#analytics  table td {
	vertical-align:top;
}
table#lookslike td {
	text-align:left !important;
}
